body
{
  background-color: #404040;
  line-height: 22px;
}

a{
  text-decoration: none;
  color: #b5b5b5;
}

.table
{
  margin: 0 auto;
  width: 100%;
}

body header
{
  border-bottom: solid 1px #b5b5b5;
  display: flex;
}

.paramBar{
  width: 100%;
  height: 40px;
  border-bottom: solid 1px #b5b5b5;
}

.paramBar img{
  width: 30px;
  height: 30px;
  padding: 5px;
}

.paramPen{
  display: none;
  color: white;
  margin-top: 15px;
}

.paramPenComposant
{
  display: flex;
  margin-left: 20px;
}

.paramEraser{
  display: none;
  color: white;
  margin-top: 15px;
}


.paramEraserComposant
{
  display: flex;
  margin-left: 20px;
}

.paramShape
{
  display: none;
}

.paramShapeComposant
{
  display: flex;
}
.ShapeCouleur{
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 20px;
  color: white;
}

.ShapeCouleur input{
  margin-left: 10px;
  margin-right: 20px;
}



.toolsBar
{
  position: fixed;
  width: 100px;
  height: 100% ;
  background-color: #404040;
  border-right: solid 1px #b5b5b5;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolsBar div{
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-top: 100px;
}

.toolsBar h3{
  text-decoration: none;
  color: white;
}

section
{
  position: fixed;
  background-color: #6e6e6e;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

canvas {
  scroll-snap-align: start;
}

header li
{
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.btn_RZA
{
  margin-left: 75%;
  margin-top: 5px;
}

.btn_RZA img
{
  width: 20px;
  height: 20px;
  margin-top: 10px;
  display:inline-block;
  padding-left: 20px;
}

.btn_loupe
{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  padding-left: 20px;
}

.subLoupe
{
  display: none;
  position: absolute;
  background-color: #404040;
  width: 100px;
  z-index: 10;
}

.subLoupe li{
  display: block;
}

header li:hover .subLoupe
{
  display: block;
}

header li button{
  display:inline-block;
  padding: 20px;
  background-color: #404040;
  border:none;
  color: white;
}

header li button:hover{
  background-color: #b02e2e;
}

header li:hover .subFile
{
  display: block;
}

.subFile{
  display: none;
  position: absolute;
  background-color: #404040;
  width: 200px;
  z-index: 10;
}
.subFile li
{
  display: block;
}

header li:hover .subEdit
{
  display: block;
}

.subEdit{
  display: none;
  position: absolute;
  background-color: #404040;
  width: 200px;
  z-index: 10;
}

.subEdit li
{
  display: block;
}
.feuille
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  position: relative;
}
canvas { background: #eee;
}

.openWinOpen
{
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: 50px;
  background-color:#404040;
  z-index: 10;
  border: 5px solid #b02e2e;
}

.openWinOpen button
{
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  float:right;
  margin-right: 10px;
  margin-top: 250px;
}

.winParaRec
{
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: 50px;
  background-color:#6e6e6e;
  z-index: 11;
  border-top: 25px solid #b02e2e;
  color: white;
}

.winParaRec input
{
  display: inline;
  width: 50px;
  margin-left: 5px;
  margin-right: 10px;
}


.widthHeightRec{
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}
